# Entornos virtuales
venv/
.venv/
patrimonio/venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Base de datos local SQLite si existe
db.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db